.chat{
    width: 100%;
    flex: 1;
    background-color: aqua;
    display: flex;
    overflow: hidden;
}


.func_block{
    width: 1%;
    display: flex;
    justify-content: center;
    padding: 0px 40px 0px 40px;
    background-color: #0E0B1D;
    border-right: 1px solid #AA76D2;
    height: 100%;
}
.func_row{
    padding-top: 40px;
}


.all_chat_block{
    width: 22vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.all_chat_block_users{
    flex: 1;
}

.button_create{
    width: 85%;
    height: 40px;
    background: black;
	color: #6EFFB1;
    font-weight: 800;
    font-size: 15px;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 30px;
    transition: 1s;
}
.button_create:hover {
    color: #AA76D2;
    transition: 1s;
}
.block_create{
    display: flex;
}
.block_create_counter{
    background-color: black;
    color: #6EFFB1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}


/* .all_chat_block_hidden{
    width: 30vw;
    height: 100%;
} */

.main_block{
    background-color: #160E2D;
    flex: 1;
    overflow: hidden;
    /* height: 91.5vh; */
    height: 100%;
    display: flex;
}

.main_chat{
    width: 100%;
    background-color: #1A1037;
}
.list_user{
    
    overflow: auto;
    width: 100%;
    flex: 2;
    /* height: 74.7vh; */
    background-color: #4E4370;
}
::-webkit-scrollbar-thumb {
    background: none;
}
.block_list_container{
    position: absolute;
    top:70px;
    z-index: 12;
    width: 100%;
    height: 79.5vh;
    /* height: 100%; */
}
.block_list_user{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #4E4370;
    width: 100%;
}

.onechat_block{
    display: flex;
    height: 85px;
    transition: 1s;
    width: 100%;
}
.onechat_block_select{
    background-color: #0E0B1D;
}
.block_user{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}
.selectUser{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    color: #6EFFB1;
    margin-top: 8px;

}
.onechat_block:hover{
    background-color: #0E0B1D;
    transition: 0.5s;
}

.onechat_block_img img{
    width: 65px;
    border-radius: 50%;
}
.onechat_block_img{
    margin: 0px 25px 0px 15px;
    display: flex;
    align-items: center;
    
}
.onechat_container{
    width: 100%;
    background: none;
     border: none;
     padding: 0;
     cursor: pointer;
    /* margin-bottom: 10px; */
}
.onechat_block_name{
    margin-top: 10px;
    color: #6EFFB1;
    font-size: 18px;

}
.onechat_block_name_block{
    /* display: inline; */
    word-break: break-all;
    display: flex;
    flex-wrap: wrap;
}



.oneuser_block_name{
    margin-top: 20px;
    color: #6EFFB1;
    font-size: 16px;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    word-break:break-all;
}
.oneuser_block_img{
    margin: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
}

.oneuser_block_img img{
    width: 65px;
    border-radius: 50%;
}


.oneChat_chatrow__d2Xqp {
    overflow: auto;
    height: 80.5vh;
}
*, *::before, ::after {
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: 0;
}
div {
    display: block;
}
.chat_main_block__1NIiU {
    color: aliceblue;
    background-color: #160E2D;
    width: 100%;
    height: 90vh;
    display: flex;
}

.chat_drop_menu_img{
    display: none;
    width: 60px;
    height: 100%;
    position: relative;
}
.chat_drop_menu_img img{
    cursor: pointer;
}
.main_block{
    position: relative;
}
.all_chat_block_hidden{
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: -500px;
    transition: 1s;
}
.all_chat_block_hidden_activ{
    position: absolute;
    visibility:visible;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 30vw;
    transition: 1s;
    background-color: #0E0B1D;
}
/* search start */

.block_chat_search_form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.chat_search_input{
    margin: 10px;
    width: 90%;
    background-color: #0E0B1D;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    color: #6EFFB1;
    outline: none;
}

.chat_search_input::placeholder{
    color: #6EFFB1;
}
.search_button{
    width: 100%;
    background: none;
     border: none;
     padding: 0;
     cursor: pointer;
}
.chat_search_input_name_chat{
    font-size: 12px;
    width: 86%;
    height: 35px;
    
    
}

/* search end */

/* media  */

@media (max-width: 1000px){
    .chat_search_input{
        font-size: 13px;
    }
    .func_block{
        display: none;
        transition: 1s;
    }
    .all_chat_block{
        border-right: 1px solid #AA76D2;
        transition: 1s;
    }

}
@media (max-width:850px) {
    .block_list_container{
        height: 75.7vh;
    }
    .all_chat_block{
        position: absolute;
        top: 0;
        left: -1000px;
    }
    .chat_drop_menu_img{
        border-right: 1px solid #AA76D2;
        display: block;

    }
    .chat_drop_menu_img_img{
        margin-top: 10px;
        margin-left: 10px;
    }
    .close_hidden_menu{
        margin:10px 0px 0px 10px ;
    }
    .all_chat_block_users{
        height: 100%;
    }
    .list_user{
        /* height: 69.6vh; */
    }
}
@media(max-width: 750px ){
    .all_chat_block_hidden_activ{
        width: 50vw;
    }
}
@media(max-width: 550px ){
    .main_block{
        flex-direction: column;
    }
    .chat_drop_menu_img{
        height:7%;
        width: 100%;
        border-bottom: 1px solid #AA76D2;
        display: flex;
        align-items: center;
    }
    .chat_drop_menu_img_img{
        /* margin: 10px 0px 5px 10px; */
        margin: 0px 0px 0px 10px;
        width: 20px
    }
    .all_chat_block_hidden{
        top: -700px;
        left: 10%;
        width: 50vw;
        transition: 1s;
    }
    .all_chat_block_hidden_activ{
        position: absolute;
        z-index: 10;
        top: 0px;
        width: 100vw;
        transition: 1s;
        background-color: #0E0B1D;
        height: 90vh;
    }
    /* .close_hidden_menu{
        margin-top: 5px;
    } */
}

/* test */

.dropdown_container{
    padding: 20px;
    margin: 40px;
    color: white;
}

.dropdown_trigger{
cursor: pointer;
}
.dropdown_menu{
    border: 2px solid #6EFFB1;
    padding-top:10px;
}
