/* comp mainChat start */
.main_chat_container{
    width: 100%;
    height: 100%;
}
.main_chat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main_chat_content{
    width: 100%;
    overflow: hidden;
    flex: 1 0 ;
}
.emptyChat{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #6EFFB1;
}

/* comp mainChat end */

/* Header */
.main_chat_header_name_block{
    /* display: inline; */

    
}
.main_chat_header_name_block{
    display: inline;
}
.main_chat_header{
    width: 100%;
    background-color: #0E0B1D;
    height: 60px;
    display: flex;
    align-items: center;

}
.main_chat_header_name{
    color: #6EFFB1;
    font-size: 20px;
    padding-left: 100px;
}

.main_chat_header_search{
        flex: 1 0 auto;
        display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}



.main_chat_header_search_block{
    margin-right: 20px;
    transition: 1s;
    display: flex;
    justify-content: end;
    position: relative;
    width: 40px;
}
.main_chat_header_search_block_input{
    position: absolute;
    right: 0;
    top: 20px;
    transition: 1s;
}

.main_chat_header_search_block_input input{
    transition: 1s;
    border: 3px solid black;
}
.main_chat_header_search_input{
    transition: 1s;
    margin: 10px 0px 0px 10px;
    background-color: #6EFFB1;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
    color: #1A1037;
    outline: none;
    border: #6EFFB1;
}

.main_chat_header_search_input::placeholder{
    color: #1A1037;
}
/* header comp end */

/* main chat input comp start */
.main_chat_input{
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}
.main_chat_form{
    display: flex;
}
.main_chat_form_input{
    width: 80%;
    height: 50px;
    margin: 10px 10px 10px 0px;
    background-color: #0E0B1D;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 1.7vw;
    line-height: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    color: #6EFFB1;
    outline: none;
}
.main_chat_form_input::placeholder{
    color: #bbffdb;
}
.main_chat_form_button{
    flex: 1 0 auto;
    background: none;
	color: #6EFFB1;
    font-size: 1.5vw;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

/* edit block start */
.main_chat_input_edit_block{
    position: absolute;
    top: -22px;
    left: 0;
    height: 30px;
    z-index: 15;
    background-color: #160E2D;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.main_chat_input_edit_container{
    display: flex;
}
.main_chat_input_edit_img{
    margin: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #AA76D2;
    padding-right: 10px;
}

.main_chat_input_edit_title{
    color: #6EFFB1;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.main_chat_input_edit_close{
    color: red;
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    
}
/* edit block end */

/* Stickers start */
.stickers{
    /* display: none; */
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px ;
}
.stickers:hover .stickers_block{
    display: block;
}
.stickers_block{
    display: none;
    position: absolute;
    z-index: 1;
    right: -40px;
    bottom: 60px;
}
.stickers_img img{
    width: 25px;
}

/* Stickers end */

/* blackList start */
.blackList_main_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.blackList_img{
    margin: 0px 20px 0px 10px ;
}
.main_chat_input_blackList_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main_chat_input_blackList_item{
    font-size: 16px;
    color: #AA76D2;
    display: flex;
    word-break: break-all;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
/* blackList end */

/* left start */
.main_chat_input_left{
    width: 100%;
    height: 70px;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6EFFB1;
}
/* left end */

/* main chat input comp end */





/* Media start */
@media(max-width:1100px){
    .main_chat_form_button{
        font-size:1.9vw;
    }
    .emptyChat{
        font-size: 35px;
        transition: 1s;
    }
    .main_chat_header_name{
        padding-left: 60px;
        transition: 1s;
    }
    
}
@media (max-width:850px) {
    .main_chat_form_button{
        font-size: 2.3vw;
        transition: 1s;
    }
    .main_chat_form_input{
        font-size: 2.9vw;
        transition: 1s;
    }
    .main_chat_header_name{
        padding-left: 40px;
        transition: 1s;
    }
    .main_chat_input_edit_title{
        font-size: 18px;
        transition: 1s;
    }
    .main_chat_input_edit_close{
        font-size: 16px; 
        transition: 1s;
    }
}


@media (max-width:650px) {
    .main_chat_form_button{
        font-size: 2.6vw;
        transition: 1s;
    }
    .main_chat_form_input{
        font-size: 3.2vw;
        transition: 1s;
    }
    .main_chat_header_name{
        font-size: 16px;
    }
    .main_chat_input_edit_title{
        font-size: 16px;
        transition: 1s;
    }
    .main_chat_input_edit_close{
        font-size: 14px;
        transition: 1s;
    }
    .main_chat_input_edit_img{
        padding-right: 8px;
        transition: 1s;
    }
    .main_chat_input_edit_img img{
        width: 14px;
    }
    .main_chat_input_blackList_item{
        font-size: 12px;
    }
    .main_chat{
        height: 100%;
    }
}
@media (max-width:550px) {
    .main_chat_container{
        height: 93%;
    }
}
@media (max-width:500px) {
    .main_chat_form_button{
        font-size: 3vw;
    }

    .main_chat_input_edit_title{
        font-size: 14px;
        transition: 1s;
    }
    .main_chat_input_edit_close{
        font-size: 12px;
        transition: 1s;
    }
    .main_chat_input_edit_block{
        top: -32px;
        padding: 5px 0px 5px 0px;
    }
}

/* media end */