

.row_message{
    height: 100%;
    width: 100%;
    padding:10px 0px 0px 0px;
}

.one_message{
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
}

.message_block_self{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}
.message_block_other{
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 0px 0px 10px 25px;
}
.message_container{
    width: 50%;

}
.message_container_self{
    display: flex;
    justify-content: end;
    margin-right: 10px;
}
.message_content_self{
    border: 3px solid #0E0B1D;
    border-radius: 10px;
    width: auto;
    min-width: 40px;
    word-break: break-all;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: #0E0B1D;
    background-color: #6EFFB1;
    transition: 1s;
}
.message_content_self:hover{
    color: black;
    transition: 1s;
    background-color: #00d764;
    border: 3px solid #0E0B1D;
}
.message_content_other{
    border: 3px solid black;
    border-radius: 10px;
    width: auto;
    min-width: 40px;
    word-break: break-all;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color: #6EFFB1;
    background-color: #0E0B1D;
    transition: 1s;
    position: relative;
}
.message_content_other:hover{
    color: #45f798;
    transition: 1s;
    background-color: black;
    border: 3px solid #0E0B1D;
}


.message_content_time{
    color: #bbffdb;
    font-size: 10px;
    display: flex;
    justify-content: end;
    margin-top: 5px;
}
.message_who_send{
    margin:0px 0px 3px 8px;
    color: #464444;
}
.message_content_time_self{
    color: black;
    font-size: 10px;
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

/* dropDown start */
.message_block_dropdown{
    position: fixed;
    /* position: absolute; */
    background-color: black;
    border: 1px solid #AA76D2;
    width: 110px;
    height: 110px;
    z-index: 20;

}
.message_block_dropdown_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    justify-content: space-around;
    width: 100%;
}
.message_block_dropdown_item{
    color: #00d764;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message_block_dropdown_item:hover{
    background-color: #45f798;
    color: #0E0B1D;
    cursor: pointer;
}
.message_block_dropdown_item:active{
    background-color: #45f798;
    color: #0E0B1D;
}


/* dropDown end */
/* left in chat start */
.one_message_leftChat{
    width: 100%;
    color: #4b6f5c;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
}
/* left in chat end */

/* contentImg  start*/
.message_with_img_container{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0;
}
.message_with_img_block{
    margin: 3px;
    flex: 1 0 auto;
    cursor: pointer;
    position: relative;
}
.loading_container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uploaded{
}
.message_with_img_block img{
    width: 100%;
    height: 100%;
}
/* contentImg end */

/* reply block start  */
.reply_container{
    display: flex;
    min-height: 30px;
    margin-bottom: 10px;
}
.reply_content_img_block{
    width: 40px;
    margin-right: 5px;
}
.reply_content_img_block img{
    width: 100%;
}
.reply_img{
    display: flex;
    align-items: center;
    border-right: 2px solid #AA76D2;
    margin-right: 10px;
}
.reply_img img {
    margin-right: 5px;
}
.reply_content_block{display: flex;}
.reply_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
}
.reply_content_text{
    
}
.reply_content_count_img{
    margin-top: 10px;
}
/* reply block end */

/* media */
@media (max-width:900px){
    .message_content_other{
        font-size: 18px;
    }
    .message_content_self{
        font-size: 18px;
    }
    .message_block_dropdown{
        width: 100px;
        height: 100px;
    }
    
}

@media (max-width:500px){
    .message_content_other{
        font-size: 16px;
    }
    .message_content_self{
        font-size: 16px;
    }
}