.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 19, 27, 0.9);
    animation-name: appear;
    animation-duration: 300ms;
    transition: 1s;
  }
  
  .modal_dialog {
    border: 1px solid #AA76D2;
    width: 100%;
    max-width: 550px;
    background: #160E2D;
    position: relative;
    margin: 0 20px;
    /* height: 100%; */
    max-height: calc(100vh - 40px);
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
    color: #6EFFB1;
  }
  
  .modal_header {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 20px;
  }
  .modal_header {
    border-bottom: 1px solid #AA76D2;
    justify-content: space-between;
  }
  .modal_close{
    cursor: pointer;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    display: flex;
  }
  
  .modal_close_photo {
    cursor: pointer;
  }

  .modal_body {
    overflow: auto;
    font-size: 16px;
  }
  .modal_content {
    padding: 1rem;
  }
  
  .modal_title {
    margin: 0;
  }
  /* modal photo start */

  .modal_body_photo{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    overflow: hidden;
    object-fit: cover;
  }
 .modal_body_photo_item_activ{
  display: block;
 }
 .modal_body_photo_item_activ img{
  width: 100%;
 }
.modal_body_photo_item{
  display: none;
}
.modal_body_photo_click_right{
  right: 10px;
}
.modal_body_photo_click_left{
  left: 10px;
}
.modal_body_photo_click{
  position: absolute;
  top: 50%;
  cursor: pointer;
}
/* modal photo end */

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes slide-in {
    from {
      transform: translateY(-150px);
    }
    to {
      transform: translateY(0);
    }
  }