.navbar{
    border-bottom: 1px solid #AA76D2;
    background-color: #0E0B1D;
    height: 70px;
}
.navbar_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar_title{
    font-size: 35px;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar_exit{
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}
.link_button{
    color: #6EFFB1;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: 1s;
}
.link_button:hover{
    color: #AA76D2;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: 1s;
}

