.name{
    color: aqua;
}
/* chatRow start */
.chatrow{
    height: 100%;
    overflow: auto;
}

.chatrow::-webkit-scrollbar-thumb {
    background: none;
}
.chatrow_empty{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #6EFFB1;
}
/* chatRow end */
.onechat_block{
    display: flex;
    height: 85px;
    transition: 1s;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.onechat_block:hover{
    background-color: #0E0B1D;
    transition: 0.5s;
}

.onechat_block_img img{
    width: 65px;
    border-radius: 50%;
}
.onechat_block_img{
    margin: 0px 25px 0px 15px;
    display: flex;
    align-items: center;
    
}
.onechat_container{
    width: 100%;
    background: none;
     border: none;
     padding: 0;
     cursor: pointer;
}
.onechat_block_name{
    margin-top: 10px;
    color: #6EFFB1;
    font-size: 18px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    transition: 1s;
    
}

/* remove */
.onechat_remove_block{
    position: absolute;
    z-index: 4;
   right: 10px;
   bottom: 10px;
}
.onechat_block_name_remove{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 10px;
}
.position{
    position: relative;
}



@media (max-width:1000px) {
    .onechat_block_name{
        font-size: 16px;
        transition: 1s;
    }
    .onechat_block_img img{
        width: 55px;
        transition: 1s;
    }
    .onechat_block_img{
        margin: 0px 15px 0px 15px;
        transition: 1s;
    }
    .onechat_block{
        height: 75px;
        transition: 1s;
    }
}
@media (max-width:550px) {
    .onechat_remove_block_drop_down{
        /* sright: -4px; */
        left: -40px;
        bottom: 20px;
    }
}